src
.gclient_entries
aar-project/.gradle
aar-project/build
depot_tools
repo
aar-project/src/main/jniLibs/armeabi/libjingle_peerconnection_so.so
aar-project/src/main/jniLibs/x86/libjingle_peerconnection_so.so
aar-project/.idea
aar-project/*.iml
aar-project/local.properties